@page "/fetchdata"
@inject DaveMarket.App.Services.IMarketHttpClient market

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p>
    @result
</p>


@code {
    private string result = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            result = await market.GetProduct();
        }
        catch (Exception e)
        {
            result = e.Message;
        }
    }
}
